/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
*~
*.DS_Store
*.swp
*.out
*.bak
.project
.settings
.buildpath
.phpstorm.meta.php
composer.phar
composer.lock
Thumbs.db